/* - - - - - - - - - - - - - - - - - - - - -

 Title : HN Technology for Business
 Author : SFP
 URL : http://wufoo.com

 Last Updated : 12 December 2019

- - - - - - - - - - - - - - - - - - - - - */
.embed body {
	background: none!important;
	font-family: 'Avenir', 'Avenir LT W01_65 Medium1475532', Arial, Helvetica, sans-serif!important;
	font-size: 18px!important;
}

#saveForm, input.btTxt {
	padding: 20px!important;
}

/*ERROR*/
#errorLi, .error-container {
	border: 1px solid #FC4347!important;
	border-radius: 6px!important;
}

#errorMsgLbl {
	color: #FC4347!important;
    font-size: 18px!important;
    font-weight: 200!important;
}

#errorMsg {
	font-weight: 500!important;
}

#errorMsg b {
    border-radius: 2px!important;
}

input#saveForm {
	padding: 20px!important;
}
